<html>
  <head>
  	<title>PAGE POTIN</title>
  </head>
  <body>
  	<h1>Voici la page du potin n° <%= params['id']%></h1>
  	<p>L'auteur de cette page est : <%= gossip.author %></p>
  	<p>Voici son contenu : <%= gossip.content %></p><br/>
  	<p>Clique <a href="/">ici</a> pour revenir à la page des potins</p>
  </body>
</html>